*{
    padding: 0;
    margin: 0;
} 

.video-preview{
    pointer-events: none;
    animation-name: opacity;
    animation-duration: 1s;
}

@keyframes colorRainbow {
    0%   {background-color: #FFBC0A;}
    20%  {background-color: #EC7D10;}
    40%  {background-color: #FC2F00;}
    60% {background-color: #EC0868;}
    80% {background-color: #C200FB;}
    100% {background-color: #8338EC;}
}

@keyframes opacity {
    0% { opacity: 0; }
    70% { opacity: 0;}
    100% { opacity: 1; }
}