*{
    padding: 0;
    margin: 0;
}

.video-preview{
    pointer-events: none;
    animation-name: opacity;
    animation-duration: 1s;
}

.ej:hover{
    animation-name: colorRainbow;
    animation-duration: 2s;
    border: 5px solid white;
}

@keyframes colorRainbow {
    0%   {border-color: #FFBC0A;}
    20%  {border-color: #EC7D10;}
    40%  {border-color: #FC2F00;}
    60% {border-color: #EC0868;}
    80% {border-color: #C200FB;}
    100% {border-color: #8338EC;}
}

@keyframes opacity {
    0% { opacity: 0; }
    70% { opacity: 0;}
    100% { opacity: 1; }
}